
.barcelona-header {
    padding: 10px;
    background-color: rgba(29, 30, 34, 0.9);
    border-radius: 25px;
    text-align: center;
    color: #ffffff;
    margin: 36px;
}

.header-button{
    width: 200px;
    text-decoration: none;
    display: inline-block;
    color: #ececec;
    background-color: #ea385a;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
}

.header-button:hover {
    background-color: #c92c50;
    color: rgba(29, 30, 34, 0.8);
}



.center-container {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.custom-button {
    text-decoration: none;
    display: block;
    color: #ececec;
    background-color: #ea385a;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    text-align: center;
}
.custom-button:hover {
    background-color: #c92c50;
    color: rgba(29, 30, 34, 0.8);
}

.bet-container {
    display: flex;
    overflow-x: auto;
    margin: 36px;
}

.bettingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(29, 30, 34, 0.9);
    padding: 16px;
    margin: 8px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    height: 250px;
    flex: 0 0 auto; /* Allow the element to shrink and grow as needed */
    margin-right: 10px;

}

.team-logos-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.team-logo {
    width: 50px; /* Adjust the width of the team logos */
    height: auto;
}

.score-prediction-container,
.bet-amount-container {
    margin-bottom: 10px;
}

.score-input
{
    width: 80px;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.bet-amount-input{
    width: 90px;
    padding: 15px;
    margin: 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.submit-bet-button {
    text-decoration: none;
    display: block;
    color: #ececec;
    background-color: #ea385a;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    text-align: center;
}

.submit-bet-button:hover {
    background-color: #c92c50;
    color: rgba(29, 30, 34, 0.8);
}




.tree-interaction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.tree-counter button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 8px 16px; /* Smaller padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
}

.tree-counter span {
    margin: 0 10px;
}

.tree-plant-button {
    margin-top: 20px;
    margin-bottom: 40px;
}

.trees-planted-text {
    margin-top: 20px;
}


.Reward-Div {
    width: 80vw;
    overflow-x: scroll;
    display: flex;
}

.Lottery-Div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.Donation-Div {}