body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.token-container{
    width: 60%;
    height: 60%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}

.token-list {
    width: 500px;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 3px;
    padding: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .token-list {
        width: 90%;
        height: auto;
        top: 5%;
        bottom: 5%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .token-list {
        width: 95%;
    }
}

.token-entry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 650px;
}


.token-entry {
    border: 1px solid #ea385a;
    padding: 20px;
    margin: 5px;
    color: #ececec;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    background-color: #ea385a;
}

.token-label {
    font-weight: bold;
    color: #ffd700;
    font-size: 1.2em;
}

.token-info {
    margin-right: 8px;
    color: #ffffff;
}



.token-action {
    display: block;
    margin-top: 15px;
    color: #ffffff;
}
.token-link {
    text-decoration: none;
    color: #b62b44;
    background-color: #ececec;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.token-link:hover {
    background-color: rgba(30, 30, 30, 0.75);
    color: #242424;
}
