.navigation {
  padding: 10px;
  background-color: #c92c50;
  color: #FFF;
  position: fixed;
  top: 0;
  width: calc(100vw - 20px);
  z-index: 1000;
}

.flexContainer {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  min-width: calc(100vw -2em);
  gap: 0em;
  row-gap: 0em;
}

.flexItem {
  width: 50%;
}

.leftNav {
  display: block;
  display: inline-block;
  line-height: 36px;
  height: 36px;
  background: linear-gradient(to right, #ececec, rgb(236, 236, 236));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightNav {
  color: #ddd;
  margin-left: auto;
  line-height: 36px;
  height: 36px;
  width: auto;
}